<section class="max-w-full">
  <section class="w-9/10 p-20">
    <h2 class="text-center text-4xl">Explora mi blog</h2>
    <section>
      <section
        class="card group bg-base-100 image-full w-80 shadow-info-content transition duration-200 hover:shadow-2xl dark:shadow-zinc-300 dark:hover:shadow-lg"
      >
        <figure>
          <img src="band" alt="band.alt" class="object-cover size-80" />
        </figure>
        <section class="card-body w-fit transition-colors duration-200 group-hover:text-info">
          <h2 class="card-title">band.title</h2>
          <p>band.description</p>
          <div class="card-actions justify-end">
            <a
              href="band.link"
              target="_blank"
              rel="noopener noreferrer"
              referrerpolicy="no-referrer"
              class="btn btn-ghost max-w-fit"
            >
              <h3>Lee mi último articulo...</h3>
            </a>
          </div>
        </section>
      </section>
      <h4>contáctame aquí...</h4>
    </section>
  </section>
</section>
