<article class="w-full">
  <section class="divider divider-info divider-end my-15">
    <h3
      class="text-center text-3xl font-bold bg-linear-to-r from-yellow-400 to-red-700 bg-clip-text text-transparent"
    >
      Deportes
    </h3>
  </section>
  <section
    class="hero size-120 group shadow-xl transition-all duration-200 hover:shadow-error"
    style="background-image: url(/assets/images/gojuzen.avif)"
  >
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Artes Marciales Mixtas</h1>
        <p class="mb-5 font-black group-hover:text-warning">
          La escuela
          <a
            href="https://www.instagram.com/gojuzen_club_debox/"
            target="_blank"
            rel="noopener noreferrer"
            referrerpolicy="no-referrer"
            class="btn btn-soft btn-error max-w-fit font-extrabold"
          >
            Gojuzen</a
          >
          se especializa en enseñar distintas artes marciales, tales como Box, Kick Boxing,
          Wrestling (o lucha), Muay thai, etc.
        </p>
        <section class="divider divider-info"></section>
        <p
          class="mb-5 font-black transition-all duration-300 [text-shadow:_0_4px_10px_black] group-hover:text-info group-hover:[text-shadow:_0_0_15px_oklch(var(--su))]"
        >
          En esta escuela he tenido la fortuna de aprender pelea. Aunque no tengo la necesidad de
          pelear o buscar conflicto fisico, si que ayuda mucho para controlar el estrés, así como
          sostener mi salud como desarrollador. Los profesores son bastante atentos, didacticos,
          pero si se exige disciplina y motivación para aprender.
        </p>
      </div>
    </div>
  </section>
</article>
