<article class="w-full">
  <section class="divider divider-info divider-end my-15 w-full">
    <h3 class="text-3xl">Podcasts</h3>
  </section>

  <ul class="list bg-base-100 rounded-box shadow-md lg:hidden w-full">
    <li class="list-row">
      <h3 class="text-4xl font-thin tabular-nums text-white">01</h3>
      <div>
        <img class="size-10 rounded-box object-cover" src="/assets/images/devtalles.avif" />
      </div>
      <div class="list-col-grow justify-items-center items-center">
        <h4 class="font-light">DevTalles</h4>
      </div>
      <a
        href="https://music.youtube.com/watch?v=NdP1hcn_pCs&si=YArTG1KVxxaEOjiW"
        target="_blank"
        rel="noopener noreferrer"
        referrerpolicy="no-referrer"
        class="btn btn-ghost max-w-fit"
      >
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2"
            fill="none"
            stroke="currentColor"
          >
            <path d="M6 3L20 12 6 21 6 3z"></path>
          </g>
        </svg>

        <span class="text-red-500">YouTube</span>
      </a>
    </li>
    <li class="list-row">
      <h3 class="text-4xl font-thin tabular-nums text-white">02</h3>
      <div>
        <img class="size-10 rounded-box object-cover" src="/assets/images/lapension.avif" />
      </div>
      <div class="list-col-grow justify-items-center items-center">
        <h4 class="font-light">La Pensión</h4>
      </div>
      <a
        href="https://music.youtube.com/watch?v=ozCZWuf1Bvk&si=jjf6EIlqZP8vPcqj"
        target="_blank"
        rel="noopener noreferrer"
        referrerpolicy="no-referrer"
        class="btn btn-ghost max-w-fit"
        type="button"
      >
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2"
            fill="none"
            stroke="currentColor"
          >
            <path d="M6 3L20 12 6 21 6 3z"></path>
          </g>
        </svg>
        <span class="text-red-500">YouTube</span>
      </a>
    </li>
  </ul>

  <section
    class="hidden md:grid md:grid-cols-2 lg:grid-cols-3 justify-items-center items-center gap-5"
  >
    <div
      class="card group bg-base-100 image-full w-80 shadow-2xl transition duration-200 hover:shadow-info-content"
    >
      <figure>
        <img src="/assets/images/devtalles.avif" alt="Portada" class="object-cover size-80" />
      </figure>
      <div class="card-body w-fit transition-colors duration-200 group-hover:text-info">
        <h2 class="card-title">DevTalles</h2>
        <p>Contenido de desarrollo de software, creado y producido por Fernando Herrera .</p>
        <div class="card-actions justify-end">
          <a
            href="https://music.youtube.com/watch?v=NdP1hcn_pCs&si=YArTG1KVxxaEOjiW"
            target="_blank"
            rel="noopener noreferrer"
            referrerpolicy="no-referrer"
            class="btn btn-ghost"
          >
            <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2"
                fill="none"
                stroke="currentColor"
              >
                <path d="M6 3L20 12 6 21 6 3z"></path>
              </g>
            </svg>
            Ver ahora
          </a>
        </div>
      </div>
    </div>

    <div
      class="card group bg-base-100 image-full w-80 shadow-2xl transition duration-200 hover:shadow-info-content"
    >
      <figure>
        <img src="/assets/images/lapension.avif" alt="Portada" class="object-cover size-80" />
      </figure>
      <div class="card-body w-fit transition-colors duration-200 group-hover:text-info">
        <h2 class="card-title">La pensión</h2>
        <p>
          Anecdotas y ocurrencias de cualquier tema, creado y producido por Fedelobo, Criss Martel,
          y Quenel Ra.
        </p>
        <div class="card-actions justify-end">
          <a
            href="https://music.youtube.com/watch?v=ozCZWuf1Bvk&si=jjf6EIlqZP8vPcqj"
            target="_blank"
            rel="noopener noreferrer"
            referrerpolicy="no-referrer"
            class="btn btn-ghost"
          >
            <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2"
                fill="none"
                stroke="currentColor"
              >
                <path d="M6 3L20 12 6 21 6 3z"></path>
              </g>
            </svg>
            Ver ahora
          </a>
        </div>
      </div>
    </div>
  </section>
</article>
