<article class="w-full">
  <article class="w-full flex flex-col items-center">
    <section class="divider divider-info divider-end my-15 w-full">
      <h3 class="text-3xl">Series y Peliculas</h3>
    </section>

    <section
      class="carousel w-[85%] max-w-sm md:w-full md:max-w-2xl mx-auto rounded-box shadow-2xl"
    >
      @for (movie of movies; track $index) {
        <div id="slide-{{ movie.id }}" class="carousel-item relative w-full aspect-2/3">
          <img
            [ngSrc]="movie.src"
            [alt]="movie.alt"
            fill
            [priority]="$index === 0"
            class="object-cover"
          />

          <div
            class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
          >
            @if (movie.id === 1) {
              <a href="#slide-9" class="btn btn-circle btn-sm">❮</a>
            } @else {
              <a href="#slide-{{ movie.id - 1 }}" class="btn btn-circle btn-sm">❮</a>
            }

            @if (movie.id === 9) {
              <a href="#slide-1" class="btn btn-circle btn-sm">❯</a>
            } @else {
              <a href="#slide-{{ movie.id + 1 }}" class="btn btn-circle btn-sm">❯</a>
            }
          </div>
        </div>
      }
    </section>
  </article>
</article>
